body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color:#D0C0E0;
}

th, td {
    padding: 10px;
}

table.sortable thead {
    background-color: #B0A0C0;
    font-weight: bold;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

